.cardWrap {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 150px;
    height: auto;
    margin: 10px;
    padding: 10px 0px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 230px; */
    height: auto;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.cardPaymentInfo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.yearlyOverview {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* height: 100%; */
    height: auto;
    padding: 20px 0px;
}

.overviewHeader {
    text-align: center;
    padding: 15px;
}

.overviewHeader p {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.overviewMonths {
    display: flex;
    justify-content: space-evenly;
    
}

.overviewMonths p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 0px;
    width: 50%;
    margin: 0 auto;
}

.overviewMonth {
    background-color: #74B37B;
    border-radius: 50%;
    height: 30px;
    width: 35px;
    padding: 10px 3px 0px;
    text-align: center;
    position: relative;
}


.unpaid {
    background-color: #C78989 !important;
}
