.form {}

.inputWrap {
    transition: all 1s;
    overflow: scroll;
    flex-grow: 1;
    height: 100vh;
}

.submit {
    /* border: none;
    width: 100%;
    padding: 30px;
    background: #673AB7;
    font-size: 27px;
    color: white;
    font-weight: bold;
    /* box-shadow: #675656 -3px -3px 6px 1px; */
    /* height: 10vh; */
    transition: all 1s;
    -moz-transition: all 1s;
    border-radius: 0px !important;
    font: inherit;
	cursor: pointer;
    outline: inherit;
    border: none;
}


.submitWrap {
    text-align: center;
    margin: 25px 0px;
}

.submitWrap p {
    font-weight: bold;
    font-size: 25px;
}

.submitted .submitWrap {
    display: none;
}

.submitted .inputWrap {
    height: 0px !important;
}

.submitted .submit{
    height: 100vh !important;
    margin: 0px;
    background: #673AB7;


}

.errors{
    background: #be4444;
    padding: 0px;
    text-align: center;
    color: white;
    line-height: 2;
    font-weight: bold;
    height: 0px;
    transition: all 1s;
    overflow: hidden;
}

.active.errors {
    height: auto;
    padding: 30px !important;
}
