body {
    background-color: #D9CADB;;
}

#header {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

#subHeader {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #747373;
    padding-top: 10px;
}




/* reset */
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none !important;
}


.toggleYearWrap {
    display: flex;
    justify-content: space-evenly;
}

.toggleYearToggler {
    background: white;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    height: 40px;
    width: 45px;
    padding: 0px;
    cursor: pointer;
}

.toggleYearToggler p {
    margin-top: 7px;
}

.disabled {
    background: #1a4163;
    color: red;
    cursor: not-allowed;
}

input[type='date'] {
    -webkit-appearance: none !important;
    background: inherit !important;
    outline: none inherit;
    height: 100% !important;
    width: 60% !important;
}


#delete-tenant {
    text-align: center;
    background: #e24242;
    width: 50%;
    margin: 0 auto;
    border-radius: 2px;
    padding: 9px;
    color: white;
    font-weight: 500;
    border: 1px solid white;
}